@import '../../index.scss';

.containMyOrderTitle{
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.backIco{
    align-self: flex-start;
    width: 25px;
    height: 25px;
}