@import "../ProductDetail/ProductDetail.scss";

.myOrdersMenu{
    @extend .detailAside;
    gap: 16px;
    .myOrderHeader{
        @extend .detailHeader;
    }
    .myOrderSection{
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        gap: 12px;

    }
    .myOrderFooter{
        width: 100%;
        font-size: $tx-xxl;
        span{
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            padding-bottom: 12px;
        }
        button{
            width: 100%;
            padding: 12px 0px;
            font-size: $tx-xl;
            border-radius: 10px;
            box-shadow: $shad-smFlat;
        }
        button:hover{
            background: $secondary-color;
            border-color: $background-color;
            color: white;
        }
        button:focus{
            background: $tertiary-color;
            color: white;
            box-shadow:none
        }
    }
    
}




