@import '../../index.scss';

article {
    width: 320px;
    height: 320px;
    flex-direction: column;
    border-radius: 12px;
    background: $background-color;
    box-shadow: $shad-Flat;
    cursor: pointer;
    figure {
        width: 100%;
        height: 80%;
        display: flex;
        position: relative;
        background:white;
        border-radius: 12px 12px 0px 0px;
        
        span{
            position: absolute;
            display: flex;
            bottom: 0px;
            margin: 12px;
            font-size: $tx-sm;
            padding: 3px 10px;
            border-radius: 12px;
            background: $bg-linearSmGrad;
            box-shadow: $shadow;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        button{
            position: absolute;
            right: 0px;
            display: flex;
            padding: 10px 12px;
            margin: 12px;
            border: none;
            border-radius: 12px;
            color: $primary-color;
            background: $background-color;
            box-shadow: $shad-smFlat;
        }
    }
    p{
        display: flex;
        padding: 12px;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        font-size: $tx-base;
        font-weight: 300;
        .cardTitle{
            height: 40px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: wrap;
        }
        .cardPrice{
            font-size: $tx-l;
            font-weight: bold;
        }
    }
}