// @import '../../index.scss';
@use '../../index' as mn;

article {
    width: 320px;
    height: 320px;
    flex-direction: column;
    border-radius: 12px;
    background: mn.$background-color;
    box-shadow: mn.$shad-Flat;
    
    figure {
        width: 100%;
        height: 80%;
        display: flex;
        position: relative;
        background:white;
        border-radius: 12px 12px 0px 0px;
        
        span{
            position: absolute;
            display: flex;
            bottom: 0px;
            margin: 12px;
            font-size: mn.$tx-sm;
            padding: 3px 10px;
            border-radius: 12px;
            background: mn.$bg-linearSmGrad;
            box-shadow: mn.$shadow;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            cursor: pointer;
        }
        button{
            position: absolute;
            right: 0px;
            display: flex;
            padding: 10px 12px;
            margin: 12px;
            border: none;
            border-radius: 12px;
            cursor: pointer;
            color: mn.$primary-color;
            background: mn.$background-color;
            box-shadow: mn.$shad-smFlat;
        }
        button:hover{
            color: white;
            background: mn.$primary-color;
          }
        .plusIco {
            width: 30px;
            height: 30px;
        }
    }
    p{
        display: flex;
        padding: 12px;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        font-size: mn.$tx-base;
        font-weight: 300;
        .cardTitle{
            height: 40px;
            overflow: hidden;
            text-overflow: ellipsis;         
            white-space: wrap;
        }
        .cardPrice{
            font-size: mn.$tx-l;
            font-weight: bold;
        }
    }
}