@import '../../index.scss';

header{
    color: $primary-color;
    background: $background-color;
    margin-bottom: 20px;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 32px;
        font-size: $tx-base;
        font-weight: 300;
        box-shadow: $shad-Flat;
        div{
            display: flex;
            align-items: center;
            gap: 16px;
            span{
                font-size: $tx-l;
                font-weight: bold;
            }
            .logo{
                color: $primary-color;
                text-decoration: none;
            }
            ul{
                list-style: none;
                display: flex;
                align-items: center;
                gap: 12px;
                li {
                    cursor: pointer;
                }
            }
            .linkClass {
                color: $primary-color;
                text-decoration: none;
            }
            .linkClass:hover{
                color: $primary-color;
                text-decoration: underline;
                text-underline-offset: 3px;
            }
            .liShopCar{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
            }
            .shopCar{
                width: 30px;
                height: 30px;
            }

            .categories{
                display: none;
            @media (min-width: 640px){
                display: flex;
            }
            }
            .myAccount{
                display: none;
            @media (min-width: 1024px){
                display: flex;
            }
            }
            
        }
    }
}